* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4C6C64;
    font-family: 'Georgia', serif;
    color: #634C44;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    overflow: auto; 
}

::-webkit-scrollbar {
    display: none;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/services/bggggg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
    user-select: none;
}

.navbar {
    width: 100vw;
    height: 10vh;
    margin-bottom: auto;
    background-color: #F9F6F2;
    display: flex;
    align-items: center;
    position: absolute;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    gap: 4vw;
    z-index: 2;

}

.logo img {
    height: 7vh;
}

.logo {
    margin-left: 0;
    display: flex;
    padding-left: 2vw;
}

.nav-links {
    display: flex;
    gap: 4vw;
}

.nav-links a {
    text-decoration: none;
    font-size: 2vh;
    font-family: 'Georgia', serif;
    color: #634C44;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #4c6c64;
}

.services-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 80px;
    z-index: 1;
}

.service {
    transition: opacity 0.6s ease-in-out;
    position: relative;
}

.service img {
    transition: opacity 0.6s ease-in-out;
    width: 100%;
    height: 100%;
}

.service:hover img {
    opacity: 0;
}

.service::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    pointer-events: none;
}

main.services-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service.large1::after {
    background-image: url('../images/services/hprinting.png');
    user-select: none;
}

.service.large2::after {
    background-image: url('../images/services/hbinding.png');
    user-select: none;
}

.service.small1::after {
    background-image: url('../images/services/hlaminating.png');
    user-select: none;
}

.service.small2::after {
    background-image: url('../images/services/hcutting.png');
    user-select: none;
}

.service:hover::after {
    opacity: 1;
}

.service.large1, .service.large2 {
    width: 320px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.service-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service.small1, .service.small2 {
    width: 320px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: auto; 
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.popup-container.active {
    opacity: 0.95;
}

.popup-content {
    background: #4C6C64;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0.95;
}

#back-btn {
    background-color: #634C44;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#back-btn:hover {
    background-color: #4c6c64;
}

#popup-text {
    margin-top: 20px;
    font-family: 'Georgia', serif;
    color: #ffffff;
}

.popup-content img {
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    height: auto;
    box-shadow: 0 5px 8px #735E5A;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.popup-content img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.popup-content .image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.popup-content .image-container .image-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup-content .image-container:hover .image-name {
    opacity: 1;
}

.footer {
    background-color: #634C44;
    color: #F9F6F2;
    padding: 3vh 5vw;
    text-align: center;
    position: relative;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3vw;
}

.footer-section {
    max-width: 30vw;
}

.footer-section h3 {
    margin-bottom: 1vh;
    font-size: 2vh;
    color: #FFF;
}

.footer-section p {
    font-size: 1.5vh;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    gap: 1vw;
    justify-content: center;
    margin-top: 1vh;
}

.social-icons img {
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 2vh;
    border-top: 1px solid #8f7872;
    padding-top: 1vh;
    font-size: 1.3vh;
}

#loader-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #f8f6f2;
    z-index: 9999;
}

@media screen and (max-width: 768px) {
    .services-grid {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .service.large1, .service.large2, .service.small1, .service.small2 {
        width: 90%;
        height: auto;
        max-width: 400px;
    }

    .service-column {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .service.large1, .service.large2, .service.small1, .service.small2 {
        width: 100%;
        height: auto; 
        max-width: none;
    }

    .service.large1, .service.large2 {
        height: 300px; 
    }

    .service.small1, .service.small2 {
        height: 200px; 
    }
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    top: 31px;
    right: 35px;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 4px;
    background: #8f7872;
    transition: 0.3s;
}

@media (max-width: 900px) {

    .nav-links {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 10vh;
        width: 100%;
        background: #f8f6f2;
        text-align: center;
        overflow: hidden;
        max-height: 0;
        transition: 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        opacity: 0;
    }


    .nav-links.active {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        padding-bottom: 25px;
        max-height: 250%;
        transition: 0.5s ease-in-out;
        opacity: 100%;
        padding-bottom: 10px;
        z-index: 1;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger div {
        width: 30px;
        height: 3px;
        background-color: #8f7872;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 100%;
        margin-bottom: 2vh;
    }
    .services-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 80px 1vw;
        gap: 3.5vw;
        scale: 1.2;
        margin-top: 23vh;
        margin-bottom: 13vh;
    }
    
    .service.large1, .service.large2, .service.small1, .service.small2 {
        width: 49.75%;
        max-width: 900px;
    }
    
    .service.large1, .service.large2 {
        height: 500px;
    }
    
    .service.small1, .service.small2 {
        height: 240px;
    }

    @media screen and (max-width: 768px) {
        .service.large1, .service.large2, .service.small1, .service.small2 {
            width: 100%;
            max-width: none;
        }
    }
}